@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Rubik:wght@600&family=Spartan:wght@500;600;700&display=swap')
@import '../../sass/_variables'
@import '../../sass/_mixins'

.wrapper
  display: flex
  flex-direction: column
  flex-wrap: wrap
  width: 100%

  .contaner
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: stretch
    width: 100%
    
    .item
      display: flex
      flex-direction: column
      align-items: center
      
      width: 32rem
      background-color: $itemBackground
      border-radius: 3rem
      margin: 1rem 0
      padding-top:2.5rem

      img
        width: 80%

      h1
        text-align: center

      .discription
        width: 80%
        text-align: center
        line-height: 154%

      button
        @include blackButton
        height: 4.25rem
        width: 12.25rem
        margin: 1.5rem 0
        font-style: normal
        font-weight: bold
        font-size: 24px

@media (max-width: 1400px) 
  .wrapper
    padding: 1rem
    .contaner
      .item
        width: 26.5rem
      
        
@media (max-width: 980px) 
  .wrapper
    padding: 0
    h1
      text-align: center
    .contaner
      .item
        width: 28.4rem
      

@media (max-width: 768px) 
  .wrapper
    align-items: center
    .contaner
      flex-direction: column
      align-items: center
      .item
        width: 22.25rem
      
        
@media (max-width: 360px) 
  .wrapper
    .contaner
      .item
        width: 20.8125rem